/utils/test results
/utils/game_filter.enabled
/lists/ipset-exclude-user.txt
/lists/list-general-user.txt
/lists/list-exclude-user.txt

.vscode/
/build/
*.exe
*.dll
*.sys
WinDivert*
cygwin1.dll
winws.exe
